<% include header %>

<link href="/css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function openwin()
{
   document.getElementById("edit").style.display='block';
  // document.getElementById("main").style.display='none';
  document.getElementById("main").style.opacity=0.3;
  document.getElementById("sidebar").style.opacity=0.3;
  // document.getElementById("sidebar").style.display='none';
}
  function Lock_CheckForm(theForm)
{
   document.getElementById("edit").style.display='none';
  document.getElementById("main").style.opacity=1;
  document.getElementById("sidebar").style.opacity=1;
  return false;
}
</script>
    <div class="main" id="main">
    <% posts.forEach(function (post) { %>
      <div class="message">
        <div class="information">
          <span class="message_num"><%= post.comments.length %></span>
          <a class="post-link" href="/post/<%= post._id %>"><span class="message_title"><%= post.title %></span></a>
          <span class="message_place"><%= post.address %></span>
          <span class="message_sender"><%= post.author.username %></span>
        </div>
        <div class="message_content">
          <p style="margin-left:80px;"><%= post.content %></p>
        </div>
        <div class="message_tail">
          <span class="tutor">已有导师</span>
          <img src="/img/tutor1.png" />
          <img src="/img/tutor2.png" />
          <span>...</span>
          <span class="tutor">已有伙伴</span>
          <img src="/img/company1.png" />
            <span class="good"><input type="image" src="/img/good.png" style="margin-right:10px" />21</span>
        </div>
      </div>
    <% }) %>
    <div class="more">
      <div class="more_content"><a href="#">......</a><span>更多</span></div>
    </div>
  </div>
  <div class="sidebar" id="sidebar">
      <div class="img">
       <img src="/img/id.jpg" />
       <p><%= user ? user.username : '未登录的账户' %></p>
       <button type="button" class="button" onclick="openwin()">我要发帖</button>
      </div>
    <div class="friends">
                <div class="friendtitle">良师益友</div>
        <div class="rank">
        <!--    <div style="margin-bottom:30px"><span>1</span></div>
            <div style="margin-bottom:30px"><span>2</span></div>
            <div style="margin-bottom:30px"><span>3</span></div>
            -->
        </div>
        <ul class="head">
            <li><span>1</span><input type="image" src="/img/rank1.png"  /></li>
            <!--传良师益友用户头像和ID给我 -->
            <li><span>2</span><input type="image" src="/img/rank2.png"  /></li>
            <li><span>3</span><input type="image" src="/img/rank2.png"  /></li>
        </ul>

    <a href="#"><span style="location:absolute;margin-top:68%;margin-right:10px;float:right">更多</span></a>
    </div>
  </div>
    <div class="edit" id="edit" style="display:none" >
          <div class="close"><input type="image"  src="/img/close.png" onclick="Lock_CheckForm(this)"/></div>
      <div class="atitle">
         发布帖子
         </div>
         <div class="subject">
          <input type="text" name="subject" placeholder="输入主题......"/>
         </div>
         <div class="content">
           <input type="image" src="/img/gragh.jpg" />
           <span>图片</span>
           <select name="school" class="select">
                 <option value="下沙">下沙</option>
                 <option value="桐乡">桐乡</option>
                 <option value="不限">不限</option>
           </select>
          <textarea type="text" name="content" class="edit_content"></textarea>
      </div>
      <div style="height:30px"><button id="submit" class="btn" name="sbmt">发表</button> </div>
  </div>
<script type="text/coffeescript">
  $ ->
    $('#submit').click ->
      body =
        title: $('input[name="subject"]').val()
        content: $('textarea[name="content"]').val()
        address: $('select[name=school]')[0].value
      $.post '/api/post/new', body, (res, status) ->
        if res.code isnt 0
          alert '发送失败，请检查帖子内容'
        else
          window.location.reload()
  </script>

<% include footer %>
